<div class="card card-side bg-base-100 shadow-xl my-2">
  <%=image_tag delivery.item.image %>
  <div class="card-body">
    <h2 class="card-title"><%= delivery.addressee %>さん</h2>
    <p><%= simple_format(delivery.comment) %></p>
    <div class="font-bold"><%= delivery.item.name %></div>
    <p>はマダカミアナッツコンビニにて引き換えしてください</p>
    <div class="card-actions justify-end">
      <%= link_to '詳細', delivery_path(delivery) ,class: 'btn btn-primary'%>
    </div>
  </div>
</div>
