<!--ここでloginしてたら一覧へ戻る、ログインしてなかったらあなたも差し入れしてみるボタンを表示する-->
<!--ここで書いた本人だったら編集、なかったら保存ボタン(お気に入り)を表示する-->
<% set_meta_tags title: 'お疲れ様です！', description: "#{@delivery.addresser}さんから差し入れが届いています"%>

<% if logged_in? && current_user.mine?(@delivery) %>
  <%= render 'crud_menus', delivery: @delivery %>
<% end %>
<div class="mx-auto w-80">
  <div class="card card-side bg-base-100 shadow-xl my-2">
    <%=image_tag @delivery.item.image ,class: "rounded-full"%>
    <div class="card-body">
      <h2 class="card-title"><%= @delivery.addressee %></h2>
      <p class= "my-2">
        <span class= "font-bold"><%= @delivery.addresser %>さんから</span><br>
        <%= @delivery.item.name %><br>
        の差し入れです<br>
        メッセージも届いてます。
      </p>
    </div>
  </div>
</div>
<div class="text-center">
  <div class="balloon">
    <p class="font-bold text-xs">
      <%= @delivery.comment %>
    </p>
  </div>
  <div class="font-bold text-center">
    <%=image_tag 'logo.png', class: "mx-auto",size: "100x100"%>
    <%= @delivery.addresser %>より
  </div>
</div>

<% if logged_in? && current_user.mine?(@delivery) %>
  <div class="text-center my-3">
    <input type="button" class= "btn btn-primary my-3" value="URLコピー" id="btnShowBox" onclick="copyUrl()">
  </div>
  <p id="temporaryBox" style="display: none;" class= "text-center text-accent">
    URLはコピーされました<br>
  </p>
<% end %>
<script>
  function copyUrl() {
    var url = location.href;
    navigator.clipboard.writeText(url);
    document.getElementById("temporaryBox").style.display = "block"; // ボックスを表示
    timerId = setTimeout( closeBox , 3000 ); // タイマーを開始
    document.getElementById("btnShowBox").disabled = true; // 表示用ボタンを無効化
  }
  function closeBox() {
   document.getElementById("temporaryBox").style.display = "none"; // ボックスを消す
   document.getElementById("btnShowBox").disabled = false; // 表示用ボタンを有効化
}

</script>
