<% set_meta_tags title: 'お疲れ様です！', description: "#{@delivery.addresser}さんから差し入れが届いています"%>

<% if logged_in? && current_user.mine?(@delivery) %>
  <%= render 'crud_menus', delivery: @delivery %>
<% end %>

<div class="mx-auto w-80">
  <div class="card card-side bg-base-100 shadow-xl my-2">
    <%=image_tag @delivery.item.image,class: "rounded-full px-3 py-3",size: "150x200"%>
    <div class="card-b pt-10 px-3">
      <h2 class="card-title"><%= @delivery.addressee %></h2>
      <p class= "my-2">
        <span class= "font-bold"><%= @delivery.addresser %>さんから</span><br>
        「<%= @delivery.item.name %>」<br>
        の差し入れです<br>
        メッセージも届いてます。
      </p>
    </div>
  </div>
</div>
<div class="text-center">
  <div class="balloon">
    <p class="font-bold text-xs">
      <%= @delivery.comment %>
    </p>
  </div>
  <div class="font-bold text-center">
    <%=image_tag 'logo.png', class: "mx-auto",size: "100x100"%>
    <%= @delivery.addresser %>より
  </div>
</div>

<%= render 'buttons', delivery: @delivery%>
